services:

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    env_file:
      - .env
    networks:
      - network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://server:8000
    depends_on:
      - server
    networks:
      - network
    restart: unless-stopped


  # adminer:
  #   image: adminer:latest
  #   restart: always
  #   ports:
  #     - "8080:8080"   
  #   depends_on:
  #     - db
  #   networks:
  #     - network


networks:
  network:
    driver: bridge 