services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./server/uploads:/app/uploads
    env_file:
      - .env
    networks:
      - network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 5s
      retries: 5

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@db:5432/${DATABASE_NAME}
    volumes:
      - ./server/uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://server:8000
    depends_on:
      - server
    networks:
      - network
    restart: unless-stopped

  pgweb:
    image: sosedoff/pgweb
    restart: always
    ports:
      - "8080:8081"
    environment:
      - PGWEB_DATABASE_URL=postgres://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@db:5432/${DATABASE_NAME}?sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - network

volumes:
  postgres_data:

networks:
  network:
    driver: bridge 